<div id="about" class="section page">
	<div class="container">
		<h1>About Me</h1>
        <h2>&nbsp;</h2>
		<p>I'm Chris Vanderloo. I've been making websites since 4th grade and programming since 7th. I'm currently attending Rensselaer Polytechnic Institute studying Computer Science and Cognitive Science, and I plan to graduate in the fall of 2021 with a Master's in Computer Science. In my free time, I like to read, work on independent programming projects, and make music. I'm heavily involved in Greek life at school and our campus open-source community.</p>
		
	</div>
</div>