<div id="contact" class="section page">
  <div class="container">
    <h1>Contact</h1>
    <p>I can be contacted through phone or email. I am open to freelance web design, app design, and music production. Recruiters can also feel free to contact me through either.</p>
    <div id="social-buttons">
      <a href="http://soundcloud.com/chortex" class="fa fa-soundcloud"></a>
      <a href="http://chortex.bandcamp.com/" class="fa fa-bandcamp"></a>
      <a href="http://instagram.com/chrisvanderloo" class="fa fa-instagram"></a>
      <a href="https://www.facebook.com/cjvanderloo" class="fa fa-facebook"></a>
    </div>
    <p><h2>Phone: </h2> 513-739-9901</p>
    <p><h2>Email: </h2> chris.vanderloo@yahoo.com</p>   
  </div>	
</div>