<div id="music" class="section page">
  <div class="container">
    <center><img src="/assets/imgs/chortexblk.png" /></center>
    <br />
    <p>I am a bass music/dubstep producer and have been creating music for 3 years now. Here's some of the music I've put out.</p>
    <h2 style="color: white">Links</h2>
    <div id="social-buttons">
      <a href="http://soundcloud.com/chortex" class="fa fa-soundcloud"></a>
      <a href="http://chortex.bandcamp.com/" class="fa fa-bandcamp"></a>
      <a href="http://instagram.com/chortex" class="fa fa-instagram"></a>
      <a href="http://facebook.com/chortexofficial" class="fa fa-facebook"></a>
    </div>
    <div style="align-items: center; display: flex; flex-direction: column;">
      <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/608115945&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
      <br />
      <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/647620656&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
      <br />
      <center>
        <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3263606431/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://chortex.bandcamp.com/album/spaced-out-ep">Spaced Out EP by Chortex</a></iframe>
        <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2120973230/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://chortex.bandcamp.com/album/reckoning">Reckoning by Chortex</a></iframe>
      </center>
    </div>
  </div>
</div>