<div id="nav">
	<div class="title">Chris Vanderloo</div>
	<div id="links">
		<div class="page-btn">Blog</div>
		<div class="page-btn">Development</div>
		<div class="page-btn">Music</div>
		<div class="page-btn">Contact</div>
	</div>
</div>
<script> 
window.onscroll = () => {
    if (window.pageYOffset >= 112.5) {
    	document.getElementById("links").style.position = "fixed";
    	document.getElementById("nav").style.marginBottom = "7.2em";
    }
    else {
    	document.getElementById("links").style.position = "relative";
    	document.getElementById("nav").style.marginBottom = "0em";
    }
    console.log(window.pageYOffset);
};
</script>