<div id="portfolio" class="section page">
	<div class="container content">
		<h1>Portfolio</h1>
		<h2>I try to keep myself busy.</h2>
		<p>Here's some of the projects I've been working on.</p>
		<div class="project">
			<div class="text">
				<h3>Cornerstone Capital</h3>
				<p>A freelance website designed for Cornerstone Capital real estate.</p>
			</div>
			<div class="img-wrap"><img style="transform: scale(2)" src="/assets/imgs/cornerstone.png" /></div>
			<div class="links">
				<div>
					Links: 
					<a href="http://cornerstonecapre.com/">Cornerstone Capital</a> 
				</div>
			</div>
		</div>
		<div class="project">
			<div class="text">
				<h3>Schedj</h3>
				<p>An iOS/Android app to bring RPI's Student Information System to mobile platforms, powered by React Native and Node.js.</p>
			</div>
			<div class="img-wrap schedj"><img src="/assets/imgs/schedj.png" /></div>
			<div class="links">
				<div>
					Links: 
					<a href="https://github.com/Schedj/schedj-frontend">schedj-frontend</a> 
					<a href="https://github.com/Schedj/schedj-backend">schedj-backend</a>
				</div>
			</div>
		</div>
		<div class="project">
			<div class="text">
				<h3>2048 AI</h3>
				<p>A console-based implementation of the popular game 2048 with a baked-in expectimax AI.</p>
			</div>
			<div class="img-wrap">
				<img style="transform: scale(2)" src="/assets/imgs/2048.png" />
			</div>
			<div class="links">
				<div>
					Links: <a href="https://github.com/chrisvander/2048-Expectimax">2048-expectimax</a>
				</div>
			</div>
		</div>
		<div class="project">
			<div class="text">
				<h3>chrisvanderloo.com</h3>
				<p>My personal web portfolio.</p>
			</div>
			<div class="img-wrap">
				<img style="transform: scale(2)" src="/assets/imgs/website.png" />
			</div>
			<div class="links">
				<div>
					Links: <a href="https://github.com/chrisvander/chrisvander.github.io">chrisvander.github.io</a>
				</div>
			</div>
		</div>
	</div>
</div>