.nav {
	width: 100%;
	height: $nav-height;
	background-color: $color-primary;
	color: $color-light-text;
	font-family: $font-header;
	display: flex;
  	align-items: center;
	.title, .page-btn {
		float: left;
		display: flex;
		align-items: center;
		// width: 130px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		cursor: pointer;
		height: $nav-height - 10px;
	}
	.title {
		font-family: $font-title;
		font-size: 40px;
		width: 270px;
	}
	.page-btn {
		border-bottom: 2px solid $color-primary;
		transition: 0.3s;
		transition-timing-function: ease-in;
	}
	.page-btn:hover {
		border-bottom: 2px solid $color-secondary;
	}
}