#nav {
	text-align: center;
	padding-top: 30px;
	color: $bg-light-secondary;
	background-color: $bg-dark;
	.title {
		font-size: 3.5em;
		margin-bottom: 30px;
		img {
			height: 100px;
		}
	}
	#links {
		background-color: $bg-light;
		width: 100%;
		top: 0;
		display: block;
		height: 6.6em;
		vertical-align: middle;
		.page-btn {
			display: inline-block;
			font-size: 1.5em;
			margin: 0.5em 0.8em 0.5em 0.8em;
			padding: 0.8em 1em 0.8em 1em;
			cursor: pointer;
			border-radius: 10px;
		}
		@media screen and (max-width: 675px) {
			.page-btn {
				display: inline-block;
				font-size: 1.5em;
				margin: 0.5em 0.4em 0.5em 0.4em;
				padding: 0.8em 0.4em 0.8em 0.4em;
				cursor: pointer;
				transition: 0.1s;
			}
		}
	}
}
