h1.brand-font {
  @include mobile {
    font-size: 7vw;
  }
}

.hero {
  z-index: 2;
  position: relative;
  overflow: hidden;
}

.secondary-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.navbar-item:hover {
  background-color: rgba(100,100,100,0.4) !important;
}

.is-huge {
  font-size: 7vw;
  @include desktop {
    font-size: 5rem;
  }
}

.inline-stack {
  height: 3rem;
  .item {
    @include mobile {
      font-size: 5vw;
    }
  }
}

.hero-body {
  overflow: hidden;
}

.softer {
  opacity: 0.8;
}

.video-container {
  min-height: 100vh;
  height: 800px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 2s;
  opacity: 0.4;
  pointer-events: none;
  z-index: 0;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

@keyframes move_from_bottom { 
  0% { 
    transform: translateY(100%); 
    opacity: 0;
  } 
  50% { 
    transform: translateY(100%); 
    opacity: 0;
  } 
  100% { 
    transform: translateY(0); 
    opacity: 0.9;
  }  
}

@keyframes bounce { 
  0% { 
    transform: translateY(0px); 
  }
  50% {
    transform: translateY(-9px); 
  } 
  80% { 
    transform: translateY(0px); 
  }  
}

.scroll-down {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  animation: move_from_bottom 4s;
  span {
    font-weight: 700;
    animation: bounce 4s infinite ease-in-out;
  }
  i {
    opacity: 0.9;
    font-size: 2rem;
  }
}

.showcase-container {
  position: relative;
  z-index: 1;
  .column {
    background-color: $color-white;
  }
  overflow: hidden;
}

.showcase, .experience {
  margin: 5vh;
  border-radius: 25px;
  @include mobile {
    margin: 0;
  }
  // @include desktop {
  //   font-size: 2vw;
  // }
  height: 90vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  h1, .subtitle {
    text-align: center;
  }
  h1 {
    font-size: 3.5rem;
    @include mobile {
      font-size: 7vw;
    }
  }
  .decoration-1, .decoration-2, .decoration-3 {
    position: absolute;
    right: -50px;
    height: 450px;
    width: 450px;
    background-color: $grey-light;
    z-index: 0;
    opacity: 0.2;
    pointer-events: none;
    border-radius: 50%;
  }
  .decoration-2 {
    height: 250px;
    width: 250px;
    background-color: $purple-light;
    opacity: 0.3;
    right: -500px;
  }
  .decoration-3 {
    height: 380px;
    width: 380px;
    background-color: $grey-lighter;
    opacity: 0.4;
    right: -260px;
  }
}

.showcase {
  background-color: $grey-lighter;
  h1 {
    color: $color-orange;
  }
  .showcase-item {
    h1 {
      font-size: 1.4rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      text-align: left;
      margin-bottom: 10px;
    }
  }
}

.experience {
  background-color: $purple-light;
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
    @include mobile {
      grid-template-columns: 1fr;
    }

  }
  .is-fluid {
    h1 {
      font-size: 2.5rem;
      font-weight: 800;
      margin-bottom: 10px;
    }
    h2 {
      text-align: left;
      font-weight: 700;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
  h1 {
    color: $color-purple;
  }
  .decoration-3 {
    height: 330px;
    width: 330px;
    background-color: $grey-lighter;
    opacity: 0.3;
    left: 160px;
    bottom: 340px;
  }
  .decoration-1 {
    right: 45px;
  }
}

.chortex {
  min-height: 100px;
  background-color: black;
  color: white;
}



