@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');

$color-orange: #ff7a00;
$color-blue: #0015ff;
$color-white: #FCFAF5;
$color-black: #131200;
$color-purple: #7300ff;

$grey-dark: #413126;
$grey-light: #ffca99;
$grey-lighter: #ffe7d1;
$purple-light: #e3ccff;
$primary: $color-orange;
$link: $color-blue;
$info: $color-purple;

$body-background-color: white;
$control-border-width: 2px;
$input-shadow: none;

$fa-font-path: '../../node_modules/@fortawesome/fontawesome-free/webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "~bulma/bulma.sass";
@import '~bulma/sass/utilities/mixins';

.brand-font {
  font-family: 'Fugaz One', cursive;
  text-transform: uppercase;
}

@keyframes fade_in { 
  0% { 
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }  
}

@keyframes fade_out { 
  0% { 
    opacity: 0;
  } 
  100% { 
    opacity: 1;
  }  
}

#homepage {
  @import "homepage.scss";
}

#resume {
  @import "resume.scss";
}

#blog {
  @import "blog.scss";
}

#pageheader {
  @import "pageheader.scss";
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.fugaz {
  font-family: 'Fugaz One', sans-serif;
}

.divider {
  display: block;
  position: absolute;
  bottom: -3rem;
  width: 100%;
  text-align: center;
  i {
    background-color: white;
    line-height: 30px;
    font-size: 1.3rem;
    color: #555;
    width: 40px;
  }
  &::after {
    display: block;
    margin-top: -14px;
    height: 1px;
    width: 100%;
    background-color: #BBB;
    content: "";
  }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(30px);
  visibility: hidden;
  transition: opacity 0.4s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.you-are-lost {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
    font-size: 12rem;
    @include mobile {
      font-size: 30vw;
    }
    color: $color-purple;
  }
  p {
    font-weight: 600;
  }
}

.footer {
  position: relative;
  background-color: $grey-light;
  z-index: 5;
  text-align: center;
  font-family: 'Montserrat';
  color: $color-orange;
  font-weight: 800;
  text-shadow: 2px 2px 2px rgba(255,255,255,0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1.5rem 1rem;
  &.addPadding {
    justify-content: center;
  }
  &.whiteLayout {
    color: #686969 !important;
    background-color: white;
    a {
      color: #888 !important;
      opacity: 0.8;
    }
    .brand-font {
      color: $primary;
    }
  }
  @include tablet {
    flex-direction: row;
  }
  .brand {
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
  }
  .brand-font {
    font-size: 3rem;
  }
  .year-text {
    align-self: flex-end;
    margin-bottom: 16px;
    width: 60px;
  }
  .smalltext {
    display: inline-block;
    font-size: 0.9rem;
    text-shadow: none;
    font-weight: 500;
    padding: 1rem 1.6rem;
  }
  .socials {
    text-shadow: none;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    width: 320px;
    a {
      color: $color-orange;
      padding: 0.5rem;
      opacity: 1;
      &:hover, &:active {
        opacity: 0.8;
      }
    }

  }
}

.white-shadow {
  text-shadow: 3px 3px 2px rgba(255,255,255,0.6);
}