---
# main.scss
---

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,700');

$color-primary: #8294E4;
$color-secondary: #D6CAE7;
$color-dark-text: #514F5A;
$color-light-text: #EEF2EF;
$color-accent: #91C9C9;

$font: 'Nunito Sans', sans-serif;

$nav-height: 60px;

@import 
	"footer", 
	"nav", 
	"main";



