---
import { getCollection } from "astro:content"
import BaseLayout from "../layouts/BaseLayout.astro"

const posts = await getCollection("blog")
const postsSorted = posts
  .filter((post) => !post.data.draft)
  .sort((a, b) => {
    return new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  })
---

<BaseLayout pageSubtitle="All Posts">
  <h1 class="text-3xl font-bold py-8 md:py-12">All Posts</h1>
  <div>
    {
      postsSorted.map((post) => (
        <div class="flex flex-row">
          <span class="flex-none hidden w-36 text-zinc-500 md:inline-block">
            {new Date(post.data.date).toLocaleDateString()}
          </span>
          <span>
            <span class="text-bold text-lg">
              <a
                href={`/posts${post.slug}`}
                class="text-black dark:text-white font-bold"
              >
                {post.data.title}
              </a>
            </span>
            <span class="text-zinc-500 block md:hidden">
              {new Date(post.data.date).toLocaleDateString()}
            </span>
            <div class="text-md mt-2 mb-6 line-clamp-2 w-full">
              {post.data.description || post.body.slice(0, 360)}
            </div>
          </span>
        </div>
      ))
    }
  </div>
</BaseLayout>
