---
import { Icon } from "astro-icon/components"
---

<div
  class="flex flex-col sm:flex-row gap-4 justify-between md:items-center px-4 sm:px-12 pt-4 sm:pt-12"
>
  <div class="flex flex-col">
    <a href="/" class="text-2xl font-semibold"> Christian van der Loo</a>
  </div>
  <div class="flex flex-row space-x-6 md:space-x-4">
    <a href="https://github.com/chrisvander"
      ><Icon name="bi:github" class="h-7" />
    </a>
    <a href="https://www.linkedin.com/in/chris-vanderloo/"
      ><Icon name="bi:linkedin" class="h-7" />
    </a>
    <a href="https://mastodon.social/@chrisvander"
      ><Icon name="bi:mastodon" class="h-7" />
    </a>
  </div>
</div>
<hr class="border-slate-300 dark:border-slate-500 mt-4 mb-4 mx-4 sm:mx-12" />
