<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  {% seo %}
	<meta name="author" content="Chris Vanderloo" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="lightbg">
	<button id="backBtn" class="hidden" onclick="togglePageOpen()">
		<img src="/assets/svg/arrow_left.svg"/>
	</button>
	<div class="landing" id="landing">
		<div class="landing-wrapper">
			<div class="name">
				<h1>Chris Vanderloo</h1>
				<h3>Computer Science & Cognitive Science student at Rensselaer Polytechnic</h3>
			</div>
			<div class="vertical-line"></div>
			<div class="links">
				<button onclick="togglePageOpen('about')" href="#About">
					About
				</button>
				<button onclick="togglePageOpen('portfolio')" href="#Portfolio">
					Portfolio
				</button>
				<button onclick="togglePageOpen('music')" href="#Music">
					Music
				</button>
				<button onclick="togglePageOpen('contact')" href="#Contact">
					Contact
				</button>
			</div>
		</div>
		<img src="/assets/svg/at_desk.svg" />
	</div>
	<div class="one column lightbg"></div>
	<div class="eleven column">
		{% include about.html %}
		{% include portfolio.html %}
		{% include music.html %}
		{% include contact.html %}
	</div>
</body>
<script src="/assets/js/github_grab.js"></script>
</html>